[gcode_macro _CG28]
description: Helper: Conditional homing
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %} G28 {% endif %}


[gcode_macro G32]
gcode:
    STATUS_HOMING
    _CG28
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL
    STATUS_HOMING
    G28

[gcode_macro PRINT_WARMUP]
description: Perform initial homing and heating tasks
gcode:
    {% set EXTRUDER_TEMP = params.HOTEND | default(190) | float %}
    {% set BED_TEMP = params.BED | default(60) | float %}
    {% set MATERIAL = params.MATERIAL |default("PLA")|string %}

    # Homing, QGL, pre-warming print nozzle etc.
    #M104 S{EXTRUDER_TEMP * 0.75}        # set extruder temperature to 75%
    M104 S150
    M140 S{BED_TEMP}                    # set bed temperature
    G32                                 # home printer

    STATUS_HEATING

    SET_FAN_SPEED FAN=exhaust_fan SPEED=0

    M117 Configuring for {MATERIAL}

    {% if (MATERIAL == "ABS") %}
        HEAT_SOAK HEATER='heater_bed' TARGET={BED_TEMP} SOAKER='temperature_sensor chamber_temp' TIMEOUT=60 SOAK_TEMP=40 RATE=0.5 RATE_SMOOTH=20
    {% endif %}

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:

    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}

    STATUS_HEATING

    M117 Heating bed
    M190 S{ params.BED }       ; Wait for bed to get to target temperature.

    M117 Preheating nozzle
    M109 S150                  ; Wait for nozzle to heat to 150C - soften filament, but no oozing.

    M117 Calibrating bed mesh
    STATUS_MESHING
    ADAPTIVE_BED_MESH MARGIN=5



    M117 Heating nozzle
    STATUS_HEATING
    M109 S{ params.HOTEND }  ; Wait for nozzle to get to target temperature.

    M117 Cleaning nozzle
    STATUS_CLEANING
    CLEAN_NOZZLE

    M117 Home Z
    STATUS_HOMING
    G28 Z

    M117 Calibrating Z
    STATUS_CALIBRATING_Z
    CALIBRATE_Z

    M117 Priming nozzle
    STATUS_PRINTING
    VORON_PURGE

    ;SET_GCODE_OFFSET Z_ADJUST=-0.040 MOVE=1 ;oseq

    RESPOND MSG="Material: {MATERIAL}"
    {% if MATERIAL == "PLA" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.046
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0.75
    {% elif MATERIAL == "PET" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.094
        ;SET_GCODE_OFFSET Z_ADJUST=0.020 MOVE=1
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0.75
    {% elif MATERIAL == "PETG" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.094
        ;SET_GCODE_OFFSET Z_ADJUST=0.020 MOVE=1
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0.75
    {% elif MATERIAL == "ABS" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.056
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0.25
    {% elif MATERIAL == "NYLON" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.064
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0.25
    {% elif MATERIAL == "PA-CF" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.064
        SET_FAN_SPEED FAN=exhaust_fan SPEED=0.25
    {% endif %}

    G90                 ; Absolute coordinates.
    M83                 ; Relative extruder mode.
    G92 E0

    M117 Printing

[gcode_macro PRINT_END]
gcode:   
    SAVE_GCODE_STATE NAME=PRINT_END_STATE
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    {% set z_park_abs = printer.toolhead.position.z + 25.0 %}
    {% if z_park_abs > max_z %}
        {% set z_park_abs = max_z %}
    {% endif %}

    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F18000    ; move nozzle to remove stringing
    G1 E-1 F3600                     ; retract filament another 2mm 
    TURN_OFF_HEATERS
    M107                             ; clear screen
    G90                              ; absolute positioning
    G0 Z{z_park_abs} F3600           ; move nozzle up away from the print
    G0 X{max_x / 2} Y{max_y-10} F18000  ; park nozzle at rear
    SET_EXHAUST TEMPERATURE=25

    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=PRINT_END_STATE
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.25

    STATUS_OFF

    M117 Done
