#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None
#axes_map: z,-y,x

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150, 150, 50  # an example

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 55.6
shaper_type_y: 2hump_ei
shaper_freq_y: 56.2